In [1]:
a = 567865435678

In [2]:
b = 54678976546789

In [3]:
a + b

55246841982467

# Headings goes like this

# H1
## H2
### H3
#### H4

* item 1
* item 2

![this is a rabit](https://www.telegraph.co.uk/content/dam/news/2016/08/23/106598324PandawaveNEWS_trans_NvBQzQNjv4Bqeo_i_u9APj8RuoebjoAHt0k9u7HhRJvuo-ZLenGRumA.jpg?imwidth=450 "panda")

In [7]:
100 ** 10

100000000000000000000

In [8]:
100.0 * 1000000

100000000.0

In [10]:
2 // 3

0

## Arithmatic Ops

```
+
-
*
/
%
**   power
//   integer div
```

## Logical Ops
```
and 
or
not
^  --> XOR
```

## Compare

```
==
<
>
<=
>=

is

```

In [14]:
5-5 == 0

True

In [15]:
a = 6
b = 7
c = a

In [16]:
a += 1

In [17]:
a is b

True

In [19]:
a = a+1

In [29]:
0 == False

True

In [30]:
val = input("Enter some value")

Enter some value12

In [32]:
year = int(input("Enter year : "))

if year % 4 == 0:
    print("leap")
else:
    print("not leap")

Enter year : 2000
leap

In [33]:
"*" * 4

'****'

In [34]:
print?

In [39]:
n = 5

row = 0
while row < n:
    col = 0
    while col < n:
        print("* ", end="")
        col+=1
    print()
    row += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [40]:
n = 5

row = 0
while row < n:
    col = 0
    while col <= row:
        print("* ", end="")
        col+=1
    print()
    row += 1

*
* *
* * *
* * * *
* * * * *

In [41]:
n = 5

row = 0
while row < n:
    col = 0
    while col < n - row:
        print("* ", end="")
        col+=1
    print()
    row += 1

* * * * *
* * * *
* * *
* *
*

In [47]:
n = 5

row = 0
v_mir = 0
while v_mir < 2 * n - 1:
    col = 0
    while col <= row:
        print(str(col+1) + " ", end="")
        col+=1
    print()
    if v_mir < n - 1:
        row += 1
    else:
        row -= 1
        
    v_mir+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [1]:
i = 0

while True:
    i+=1
    if i > 10:
        break
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [1]:
if True:
    pass

In [3]:
list(range(6, 1, -1))

[6, 5, 4, 3, 2]

In [4]:
for item in range(5):
    print(item)

0
1
2
3
4

In [9]:
l = list()

In [8]:
type(l)

list

In [10]:
l.append(4)

In [22]:
a = [2, 4, 5]
b = [5, 6, 8]
c = a + b

a[0] = 11
b[0] = 22
c[0] = 33

print(a)
print(b)
print(c)

[11, 4, 5]
[22, 6, 8]
[33, 4, 5, 5, 6, 8]

In [19]:
a.append(b)

In [15]:
a

[11, 4, 5, [22, 6, 8]]

In [27]:
a.extend(range(6))

In [33]:
len(range(6, 10, 2))

2

In [36]:
a.sort(reverse=True)

In [37]:
a

[22, 11, 8, 6, 5, 5, 4, 4, 3, 2, 1, 0]

In [48]:
tup = (2, 2, 2, 2, 2, 2, 2, )

In [49]:
type(tup)

tuple

In [52]:
a = 7
b = 8

a, b = b, a

In [53]:
print(a)
print(b)

8
7

In [56]:
for item in tup:
    print(item)

2
2
2
2
2
2
2

In [57]:
name = ["anuj", "mohit", "ravi"]
age = [25, 20, 21]

In [59]:
for item in zip(name, age):
    print(item)

('anuj', 25)
('mohit', 20)
('ravi', 21)

In [62]:
l = list(zip(name, age, age))

In [68]:
sorted?

In [65]:
data = ["anuj", "ravi", "aaryan"]

In [66]:
data.sort()

In [69]:
data = [2, 4, 5]

In [70]:
sum(data)

11

In [90]:
tups = ((1, 2), (3, 8), (-4, 5))

In [91]:
def mean(x):
    return sum(x)/len(x)

In [93]:
res = sorted(tups, key=mean)

print(res)

[(-4, 5), (1, 2), (3, 8)]

In [84]:
import numpy as np

In [85]:
np.mean([4, 5])

4.5

[(-4, 5), (1, 2), (3, 8)]

In [94]:
def fname(params):
    pass

In [97]:
# positional args
def first(p1, p2):
    print(p1, p2)

In [98]:
first("hello", "world")

hello world

In [101]:
first("hello", p2="world")

hello world

In [102]:
first("hello", p2="world", p1="hi")

TypeError: first() got multiple values for argument 'p1'

In [107]:
def setHotness(val, temp="hot"):
    print("it is very", temp)

In [112]:
setHotness(temp="hot", val=12)

it is very hot

In [114]:
second = first

In [117]:
second("a", "b")

a b